<h1><%= @dish.name %>'s Show Page</h1>

<p><strong>Dish Name: </strong><%= @dish.name %></p>
<p><strong>Dish Description: </strong><%= @dish.description %></p>

<p><strong>Chef: </strong><%= @dish.chef.name %></p>

<p><strong>Dish Ingredients: </strong></p>
<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %><br>
<% end %>

<p><strong>Total Calorie Count: </strong><%= @dish.total_calories %></p>

<p><strong>Add an ingredient using ingredient ID </strong></p>
<%= form_with url: "/dishes/#{@dish.id}/ingredients", method: :post, local: true do |f| %>
  <%= f.label :ingredient_id %>
  <%= f.text_field :ingredient_id %><br>
  <%= f.submit "Submit" %>
<% end %>

